.copyright { 
	min-height: 40px;

  p {
    text-align: left;
    color: #FFF;
    padding: 10px 0;
    margin-bottom: 0;
  }
}
 
.footer-bottom {
  padding: 0 15px;

  .footer-links {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    float: left;
    line-height: 44px;

    &:after {
      content: "/";
      color: #FFF;
      margin-right: 8px; 
      margin-left: 8px;
    }

    a {
      color: #FFF;
      font-size: 14px;
    }
  }
}
