html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}
  
body {
    background: #fafafa;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.header {
    width: 100%;
    display: block;
    border-bottom: 1px solid #f0f2f4;
    background: #fff;
}

.container,
main {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

main {
    padding: 20px 0;
}

.nav ul {
    list-style: none;
    float: right;
    margin: 0;
}

.nav li {
    float: left;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: #000;
    font-weight: 100;
    padding: 25px 20px;
    display: block;
    font-size: 14px;
}

.logo {
    float: left;
    width: 80px;
}

.logo a {
    padding: 25px 0;
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.logo span {
    background: #38b7ea;
    padding: 4px 8px;
    color: #fff;
    border-radius: 4px; 
}

.header a:hover,
.header a:focus,
.header a:active {
    color: #000;
}

.text-center {
    text-align: center;
}

.page-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.5em;
}
.page-title.blue {
    color: #38b7ea;
}

.mt-lg-40 {
    margin-top: 40px;
}